@import '~antd/dist/antd.less';

html {
    width: 300px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button {
    height: 40px;
    border-radius: 25px;
    font-size: 20px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.button-copy {
    font-size: 25px;
    border-radius: 30px;
    height: 60px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
}

.button-circle {
    display:block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.input {
    border-radius: 25px;
    height: 40px;
    font-size: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.number {
    font-size: 20px;
    color: #05c46b;
}

.ant-input {
    margin-bottom: -4px;
}
